body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gold: #ffc700;
    --color-silver: #b6b6b6;
  }
  